Repository codestates/pomodoro, pull requests merged in 2022-01, with the labels that each got.

#233 [백앤드] Youtube 영상검색 필터 일부 예외처리
  client/src/components/desktop/Metadata.jsx
  client/src/components/desktop/PreviewPopup.jsx
  client/src/components/desktop/SwiperMusic.jsx
  client/src/components/mobile/MetadataMobile.jsx
  client/src/components/mobile/PreviewPopupMobile.jsx
  client/src/components/mobile/SwiperMusicMobile.jsx
  client/src/pages/desktop/MusicSelection.jsx
  client/src/pages/mobile/MusicSelectionMobile.jsx
  server/nginx/inotifywait/config.sh
  server/nodejs/source/app/controller/youtube/api.js
Labels: server, client

#234 :wrench:fix: 플레이어 준비 전 로딩 로직 수정
  client/src/pages/desktop/PomodoroPage.jsx
Labels: :wrench: fix, client

#236 [프론트엔드] ✨ 서버 도커라이징 대응
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/components/desktop/DeleteAccount.jsx
  client/src/components/desktop/MenuForMusiclist.jsx
  client/src/components/desktop/MenuForPlaylist.jsx
  client/src/components/desktop/Metadata.jsx
  client/src/components/desktop/Playlist.jsx
  client/src/components/desktop/SwiperMusic.jsx
  client/src/components/mobile/MenuForMusiclistMobile.jsx
  client/src/components/mobile/MenuForPlaylistMobile.jsx
  client/src/components/mobile/MetadataMobile.jsx
  client/src/components/mobile/SwiperMusicMobile.jsx
  client/src/pages/desktop/EditUserInfo.jsx
  client/src/pages/desktop/ForgotPassword.jsx
  client/src/pages/desktop/Login.jsx
  client/src/pages/desktop/MusicSelection.jsx
  client/src/pages/desktop/PomodoroPage.jsx
  client/src/pages/desktop/Ranking.jsx
  client/src/pages/desktop/SignUp.jsx
  client/src/pages/mobile/MusicSelectionMobile.jsx
  server/docker-compose.yml
Labels: client
